.active {
	&--margin {
		@include adaptive-margin-side(margin-bottom, 70, 30);
	}
	// .active__container

	&__container {
	}

	// .active__title

	&__title {
		text-align: center;
		margin-bottom: toRem(50);
		.title__name {
			@include adaptiv-font(35, 25);
			margin-bottom: toRem(16);
		}
		.title__text {
			line-height: 1.6;
			@include adaptiv-font(18, 14);
		}
	}
}
.title {
	// .title__name

	&__name {
	}

	// .title__text

	&__text {
	}
}
.swiper-active {
}
.swiper {
}
.wrapper-active {
}
.swiper-wrapper {
}
.slide-active {
	position: relative;

	// .slide-active__img

	&__img {
		border: 2px solid pink;
		border-radius: toRem(25);
		position: relative;
		img {
			border-radius: toRem(25);
			width: 100%;
		}
	}
}

// .button-icon {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);
// 	width: 120px;
// 	height: 120px;
// 	padding: toRem(30);
// 	border: 2px solid white;
// 	border-radius: 50%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	fill: white;

// 	backdrop-filter: blur(10px);
// }
// .icon-button {
// 	aspect-ratio: 1;
// 	width: 100%;
// 	height: 100%;
// }

.button-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 15%;
	aspect-ratio: 1;
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	fill: white;
	backdrop-filter: blur(10px);
	z-index: 10;
}

.icon-button {
	width: 60%;
	height: 60%;
}

.swiper-slide {
}
