.title {
	// .title__name

	&__name {
		font-family: "Orbitron";
		font-weight: 600;

		a {
			background: linear-gradient(158.4deg, rgba(247, 108, 247, 1), rgba(100, 206, 245, 1) 100%);
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	// .title__text

	&__text {
		font-weight: 400;
		font-family: "Poppins";
	}
}
