@use "sass:math";

// // Мінімальна ширина сторінки
// $minWidth: 320;
// // Ширина полотна (макету)
// $maxWidth: 1920;
// // Ширина обмежуючого контейнера (0 = немає обмеження)
// $maxWidthContainer: 1170;
// // Загальний відступ у контейнера
// // (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
// $containerPadding: 30;
// // Ширина спрацьовування першого брейкпоінту
// $containerWidth: $maxWidthContainer + $containerPadding;

@import "_fonts.scss";
@import "_reset.scss";
@import "_common.scss";
@import "_functions.scss";
@import "_header.scss";
@import "_future.scss";
@import "_other.scss";
@import "_work.scss";
@import "_active.scss";
@import "_footer.scss";

body {
	background-color: #010208;
	font-size: toRem(16);
	color: rgba(255, 255, 255, 1);
	font-family: "Poppins";
}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.wrapper main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: toRem(1210);
	padding: 0 toRem(15);
	margin: 0 auto;
}

@keyframes gradient-slide {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// .stats {
// 	display: flex;
// 	gap: toRem(68);
// 	// .stats__item

// 	&__item {
// 		display: flex;
// 		flex-direction: column;
// 		gap: toRem(8);
// 	}

// 	// .stats__calk

// 	&__calk {
// 		font-family: "Orbitron";
// 		font-weight: 500;
// 		@include adaptiv-font(24, 20);
// 	}

// 	// .stats__name

// 	&__name {
// 		font-family: "Poppins";
// 		@include adaptiv-font(18, 16);
// 	}
// }

.stats {
	display: flex;
	gap: toRem(68);
}
.stats-item {
	display: flex;
	flex-direction: column;
	gap: toRem(8);

	// .stats-item__calk

	&__calk {
		font-family: "Orbitron";
		font-weight: 500;
		@include adaptiv-font(24, 18);
	}

	// .stats-item__name

	&__name {
		font-family: "Poppins";
		@include adaptiv-font(18, 14);
	}
}
